body{
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}
*{
  padding: 0;
  margin: 0;
}
.dingen{
  background-image: url("images/blue2.jpg");
  height: 700px;
  width: 100%;
}

.klik-blokjes{
  margin-left: 270px;
  margin-right: 0;
}
.klik-blokje{
  text-align: center;
  background: white;
  border: black 1px solid;
  margin-top: 180px;
  /* margin-bottom: 20%; */
  padding: 0;
}
.image-klik-blokje{
  width:100%;
  height: 220px;
}
.klik-blokje-midden{
  margin-right: 5% ;
  margin-left: 5%;
}
.width{
  width: 100%;
}
.slogan{
  padding: 6% 0 0 28%;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
footer{
  margin-top: 2%;
  background-color: rgb(99, 92, 92);
}
.footer-link{
  color: white;
}
.footer-link:hover{
  color: yellow;
  text-decoration: none; 
}
.logo{
  background: #000;
  color: yellow !important;
  padding: 3px 20px 3px 20px;
}
.j,.p{
  position: relative;
  font-size: 30px;
}
.j{
  top: -5px;
  left: 6px;
}
.blokje{
  padding: 15px;
  margin: 5px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px grey;
  text-align: center;
  
}
.blokje-img{
    width: 100%;
}
.omheen{
  margin-top: 50px;
}
.kaartje{
  box-shadow: 5px 5px 15px grey;
  border-radius: 20px;
}
.adres{
  margin: 50px 25%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px grey;
  text-align: center;
}
.foto{
  width: 300px;
}
.intro-text{
  padding-top: 10px;
}
footer{
  margin-top:0;
}
.intro-contact{
  border-left: solid 1px lightgray;
  padding-top: 20px;
}
.contact{
  font-size: 20px;
}

.intro{
  margin-top: 20px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 995px){
.top-header{
  border-bottom: .5px lightgray solid;
}
.container-logo, .container-nav {
  padding: 10px 20% 10px 20%;
}
.logo{
  width:150px;
}
li.active a, .navbar-nav li a:hover{
  color: rgba(0,0,0,.9);
  border-bottom: 5px rgb(252, 254, 2) solid;  
}

.navbar, .container-nav, .nav-item{
  padding-bottom: 0 !important;
}
}
@media only screen and (max-width: 989px){
  .top-header{
    display: none;
  }
}