body{
  font-size: 18px;
}
*{
  padding: 0;
  margin: 0;
}
.header{
  background-image: url("images/header-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;

}
.slogan{
  padding: 6% 0 0 28%;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
footer{
  margin-top: 2%;
  background-color: grey;
}
.footer-link{
  color: aqua;
}
.footer-link:hover{
  color: aquamarine;
  text-decoration: none; 
}
.logo{
  background: #000;
  color: yellow !important;
  padding: 3px 20px 3px 20px;
}
.j,.p{
  position: relative;
  font-size: 30px;
}
.j{
  top: -5px;
  left: 6px;
}
.blokje{
  padding: 15px;
  margin: 5px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px grey;
  text-align: center;
  
}
.blokje-img{
    width: 100%;
}
.omheen{
  margin-top: 50px;
}
.kaartje{
  box-shadow: 5px 5px 15px grey;
  border-radius: 20px;
}
.adres{
  margin: 50px 25%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px grey;
  text-align: center;
}
.foto{
  width: 300px;
}